h1{
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 4px #ffffff;
}
img #bg{
    display: flex;
    border-radius: 10%;
    justify-content: center;
    align-content: center;
    position: absolute;
}
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    position : absolute;
}
#photos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    padding : 100px;
    margin: 0 auto;
}
h2{
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline .01px #ffffff;
    text-shadow: 1px 1px 2px #ffffff;
    font-style: italic;
    border-color : black;
    border-width : 1px;
    border-style : solid;
    width : 15%;
    margin-left: auto;
    margin-right: auto;
    background-image: radial-gradient(circle,  #3a77c7dd ,#bd4fdfdd);
}
h3{
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: -2px 2px 2px #ffffff;
}
p{
    text-align: center;
    margin: auto;
    width : 50%;
    font-size: 20px;
    color: #000000c8;
    text-shadow: 1px 1px .5px #474fbd88;}
body{
    background-image: radial-gradient(circle, #bd4fdfdd, #3a77c7dd);
}
#contact {
    text-align: center;
    font-size: 20px;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
    
}
table{
    margin-left: auto;
    margin-right: auto;
}
table th{
    border: 1px solid #dddddd;
    padding: 1px;;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
    font-family: Impact, fantasy;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
table td{
    border: 1px solid #dddddd;
    font-family: Impact, fantasy;
    border-collapse: collapse;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #5236510b;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
}
form{  
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
}
#lastcell{
    width: 200px;
}